<p>
  <span>Comment:</span>
  <%= comment.text %>
  <% if can? :destroy, comment %>
    <%= button_to 'Delete', user_post_comment_path(comment.post.user, comment.post, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</p>
